p { color:blue}

.fondo-inicio {background-image: url(./img/fondo.jpg);
background-repeat: no-repeat; background-size: cover;}
.fondo-ofertas {background-image: url(./img/ofertas.jpg);background-repeat: no-repeat;background-size: cover;}
.fondo-destino {background-image: url(./img/paises.jpg);
background-size: cover;background-repeat: no-repeat;}
.fondo-contacto{background-image: url(./img/contacto.jpg);background-repeat: no-repeat;background-size: cover;}

.sec { text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0%;
    font-family: Arial, sans-serif;
    font-size: 16px;}
.li {list-style: none;}

.box {
    position: relative;
    top: 20px;
    left: 0%;
    background-color: rgb(248, 112, 94);
    padding: 10px;
}
.oferta{text-align:end;
display: flex;}

.cardcontainer {
    margin: 25px;
    padding: 20px;
}
.card{ 
    margin:10px;
    width: 50%;
    text-align: center;

  }
     
footer {text-align: center;}
 h2{text-align: center;text-decoration: underline;}
.logo { width: 30px; margin: 5px; position: absolute; width: 30px;

}
div#peru{padding-top: 15px;}
main#margen{margin-left: 20%;}
