.navbar{background-color: aqua;}
.navbar ul{display: flex;
list-style: none;
padding: 0%;
margin: 0%;
}
.navbar li{ margin: 0%;
}
.navbar a {color: aliceblue;
text-decoration: none;
padding: 15px 20px;
display: block;}

.grid-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 10px;
    grid-template-rows: 100px 200px;

}
.grid-item {background-color: aqua;
border: 1px solid;
padding: 20px;
text-align: center;}
